<div class="form-group">
  <label for="name">Blog Title</label>
  <input type="text" class="form-control" id="name" placeholder="Blog Name">
</div>

<div class="form-group">
  <label for="url">Blog URL</label>
  <input type="text" class="form-control" id="url" placeholder="http://...">
</div>

<input type="submit" class="btn btn-success" value="Add" />
