<div class="well">
  <label class="new-blog-post" for="new-blog-post">Blog Post:</label>
  <input id="new-blog-post" name="name" value="" placeholder="New Blog Post">
  <textarea class="enter-post" name="name" rows="8" cols="40" placeholder="Enter Post"></textarea>
  <button type="btn btn-primary" name="Post">Post</button>
</div>
