<div class="well">
  <label class="new-first-name" for="first-name">First Name</label>
  <input id="new-first-name" name="name" value="" placeholder="First Name">
  <label class="new-last-name" for="last-name">Last Name</label>
  <input id="new-last-name" name="name" value="" placeholder="Last Name">
  <label class="new-address" for="name">Address</label>
  <input id="new-address" name="name" value="" placeholder="Address">
  <label class="new-phone" for="name">Phone</label>
  <input id="new-phone" name="name" value="" placeholder="Phone Number">
  <button class="submit-button" type="submit" name="Submit">Submit</button>
</div>
