
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
img {
  max-width: 100%;
}
.new-blog-post{
  display: block;
}
#new-blog-post{
  display: block;
}
.enter-post{
  margin-top: 15px;
}
